<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
  <connectionStrings>
    <add name="RentACarDatabase" connectionString="Data Source = (localdb)\MSSQLLocalDB; Initial Catalog = Rent-A-Car; Integrated Security = True;"/>
  </connectionStrings>
  <appSettings>
    <add key="port" value="9000"/>
  </appSettings>
</configuration>